body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app h1 {
  text-align: center;
  font-size: 3rem;
  color: rgb(31, 168, 213);
}
